<section class="form-section">
    <div class="form-container">
        <h2>Смена пароля</h2>
        <form (submit)="onSubmit($event)">
            <div class="dws-input-pass">
                <input type="password" placeholder="Пароль" required [(ngModel)]="password" name="password">
            </div>
            <div class="dws-input-repeat-pass">
                <input type="password" placeholder="Повторите пароль" required [(ngModel)]="repeatPassword" name="repeatPassword">
            </div>
            <button type="submit" class="submit-btn">Подтвердить</button>
        </form>
        <div *ngIf="showAlert" class="custom-alert">
            <p>{{ alertMessage }}</p>
        </div>
    </div>
</section>
