<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <button (click)="closeModal()" class="exit-button">X</button>
    <p>Для удаления введите пароль</p>
  <div class="password-wrapper">
  <input [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Введите пароль" [(ngModel)]="password">
    <ng-container [ngSwitch]=isPasswordVisible>
    <button *ngSwitchCase=false (click)="showPassword()" class="toggle-btn eye"></button>
    <button *ngSwitchCase=true (click)="showPassword()" class="toggle-btn eye-slash"></button>
      </ng-container>
</div>
    <button (click)="confirm()" class="submit-btn">Подтвердить</button>
  </div>
</div>
