<section class="form-section">
    <div class="form-container">
        <h2>Восстановление пароля</h2>
        <form>
            <div class="dws-input-email">
                <input type="email" placeholder="Введите ваш Email" required [(ngModel)]="email" name="email">
            </div>
            <button class="submit-btn" type="submit" (click)="onSubmit($event)">Отправить код для сброса</button>
        </form>
        <!-- Кастомное уведомление -->
        <div class="custom-alert" *ngIf="showAlert">
            <p>{{ alertMessage }}</p>
        </div>
    </div>
</section>
