<div class="filters">
  <div class="row">
    <div class="column">
        <input
      type="text"
      list="brand_options"
      placeholder="Выберите марку"
      [(ngModel)]="selectedBrand"
    />
    <datalist id="brand_options">
      <option *ngFor="let value of brands" [value]="value">{{value}}</option>
    </datalist>

    </div>
    <div class="column">
        <input
      type="text"
      list="model_options"
      placeholder="Выберите модель"
    />
    <datalist id="model_options">
      <option *ngFor="let value of models[selectedBrand]" [value]="value">{{value}}</option>
    </datalist>
    </div>
    <div class="column">
      <select >
          <option value="" disabled selected >Выберите привод</option>
        <option >Передний привод</option>
        <option>Задний привод</option>
        <option>Полный привод</option>
      </select>
    </div>
  </div>

    <div class="row">
      <div class="column">
        <select >
          <option value="" disabled selected hidden>Выберите тип кузова</option>
          <option> Седан</option>
          <option> Внедорожник</option>
          <option> Хетчбэк</option>
          <option> Универсал</option>
          <option> Купе</option>
          <option> Минивэн</option>
      </select>
      </div>
      <div class="column">
        <select >
          <option value="" disabled selected hidden>Выберите тип топлива</option>
          <option >Бензин</option>
          <option> Дизель</option>
          <option> Электричество</option>
          <option> Гибрид</option>
          <option> Газ
          </option>
      </select>
      </div>
      <div class="column">
              <select>
        <option value="" disabled selected hidden>Выберите КПП</option>
                <option>Автомат</option>
                <option> Механика</option>
                <option> Робот
          </option>
      </select>
      </div>
    </div>
  <div class="row">
    <div class="column-from-to">
      <input class="from-select" placeholder="Пробег от" type="number">
      <input class="to-select" placeholder="Пробег до" type="number">
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Год от" type="number">
      <input class="to-select" placeholder="Год до" type="number">
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Цена от" type="number">
      <input class="to-select" placeholder="Цена до" type="number">
    </div>
  </div>

  <div class="row">
    <div class="column-from-to">
      <input class="from-select" placeholder="Объём от" type="number">
      <input class="to-select" placeholder="Объём до" type="number">
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Мощность от" type="number">
      <input class="to-select" placeholder="Мощность до" type="number">
    </div>
  </div>
      <button type="submit" class="submit-btn" (click)="onSubmit()">Подтвердить</button>

</div>
