<div class="filters">
  <div class="row">
    <div class="column">
      <select>
          <option value="" disabled selected>Brand</option>
          <option value="Audi">Audi</option>
      </select>
    </div>
    <div class="column">
      <select>
          <option value="" disabled selected>Model</option>
          <option value="Q7">Q7</option>
      </select>
    </div>
    <div class="column">
      <select class="half-select">
          <option value="" disabled selected>Body type</option>
          <option value="Sedan">Sedan</option>
      </select>
      <select class="half-select">
          <option value="" disabled selected>Transmission</option>
          <option value="Robot">Robot</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <select class="half-select">
          <option value="" disabled selected>Body type</option>
          <option value="Sedan">Sedan</option>
      </select>
      <select class="half-select">
          <option value="" disabled selected>Transmission</option>
          <option value="Robot">Robot</option>
      </select>
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Year from">
      <input class="to-select" placeholder="Year to">
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Year from">
      <input class="to-select" placeholder="Year to">
    </div>
  </div>

  <div class="row">
    <div class="column-from-to">
      <input class="from-select" placeholder="Year from">
      <input class="to-select" placeholder="Year to">
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Year from">
      <input class="to-select" placeholder="Year to">
    </div>
  </div>
</div>
