<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <button (click)="closeModal()" class="exit-button">X</button>


    <h2>Марка:</h2>
    <div class="radio-container">
  <label *ngFor="let option of marks" class="radio-label">
    <input
      class="radio-input"
      type="radio"
      [value]="option"
      name="options"
      (change)="onRadioChangeMarks(option)"
      [checked]="option === selectedMark" />
    <p class="custom-radio">{{ option }}</p>
  </label>
</div>


    <h2>Модель:</h2>
    <div *ngIf="modelsContainerVisibility" class="radio-container">
  <label *ngFor="let option of models" class="radio-label">
    <input
      class="radio-input"
      type="radio"
      [value]="option"
      name="options"
      (change)="onRadioChangeModels(option)"
      [checked]="option === selectedModel" />
    <p class="custom-radio">{{ option }}</p>
  </label>
</div>


    <h2>Тип кузова:</h2>
    <div class="radio-container">
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Cедан</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Внедорожник</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Хетчбэк</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Универсал</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Купе</p>
    </label>
          <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Минивэн</p>
    </label>
      </div>


        <h2>КПП:</h2>
    <div class="radio-container">
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Ручная</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Автоматическая</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Робот</p>
    </label>
      </div>


        <h2>Привод:</h2>
    <div class="radio-container">
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Передний</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Задний</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Полный</p>
    </label>
      </div>


    <h2>Выбор цены</h2>
    <div class="sliders">
<div class="slider-container">
  <div class="slider-value">
    <input
      type="number"
      [(ngModel)]="selectedMinPrice"
      (input)="onMinPriceChange($event)"
      min="{{minPrice}}"
      max="{{maxPrice}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minPrice}}"
    max="{{maxPrice}}"
    [(ngModel)]="selectedMinPrice"
    (input)="onMinPriceChange($event)"
    class="slider" />

</div>
    <div class="slider-container">
   <div class="slider-value">
    <input
      type="number"
      [(ngModel)]="selectedMaxPrice"
      (input)="onMaxPriceChange($event)"
      min="{{minPrice}}"
      max="{{maxPrice}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minPrice}}"
    max="{{maxPrice}}"
    [(ngModel)]="selectedMaxPrice"
    (input)="onMaxPriceChange($event)"
    class="slider" />
</div>
  </div>
 <div class="selected-sliders">
  <p>Выбранная цена: </p>
  <p>{{ selectedMinPrice }} - {{ selectedMaxPrice }}</p>
      <label for="currency">Валюта:</label>
  <select id="currency" [(ngModel)]="selectedCurrency" >
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="BYN">BYN</option>
    <option value="RUB">RUB</option>
  </select>
   </div>


        <h2>Выбор года</h2>
    <div class="sliders">
<div class="slider-container">
  <div class="slider-value">
    <input
      type="number"
      [(ngModel)]="selectedMinYear"
      (input)="onMinYearChange($event)"
      min="{{minYear}}"
      max="{{maxYear}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minYear}}"
    max="{{maxYear}}"
    [(ngModel)]="selectedMinYear"
    (input)="onMinYearChange($event)"
    class="slider" />

</div>
    <div class="slider-container">
   <div class="slider-value">
    <input
      type="number"
      [(ngModel)]="selectedMaxYear"
      (input)="onMaxYearChange($event)"
      min="{{minYear}}"
      max="{{maxYear}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minYear}}"
    max="{{maxYear}}"
    [(ngModel)]="selectedMaxYear"
    (input)="onMaxYearChange($event)"
    class="slider" />
</div>
  </div>
 <div class="selected-sliders">
  <p>Выбранный год: </p>
  <p>{{ selectedMinYear }} - {{ selectedMaxYear }}</p>
   </div>


    <h2>Выбор мощности</h2>
    <div class="slider-container">
  <div class="slider-value">
    <input
      type="number"
      [(ngModel)]="selectedPower"
      (input)="onPowerChange($event)"
      min="{{minPower}}"
      max="{{maxPower}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minPower}}"
    max="{{maxPower}}"
    [(ngModel)]="selectedPower"
    (input)="onPowerChange($event)"
    class="slider" />
</div>
     <div class="selected-sliders">
  <p>Выбранная мощность: </p>
  <p>{{ selectedPower }}</p>
   </div>


    <h2>Тип топлива:</h2>
    <div class="radio-container">
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Бензин</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Дизель</p>
    </label>
    <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Газ</p>
    </label>
      <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Гибрид</p>
    </label>
      <label class="radio-label">
      <input class="radio-input" type="radio">
      <p class="custom-radio">Электричество</p>
    </label>
      </div>



    <button (click)="confirm()" class="submit-btn">Подтвердить</button>
  </div>
</div>
