<section class="page">

  <h2>Предпочтения по стране производителю</h2>
<div *ngFor="let country of countries" >
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [value]="country"
        (change)="onCountryChange($event)"
        [checked]="selectedCountries.includes(country)"
      />
      <span class="checkmark"></span>
      {{ country }}
    </label>
  </div>
  <h2>Предпочтения по маркам и моделям</h2>
<div class="car">
<div class="add-car" *ngFor="let i of [].constructor(carCount); let index = index">
  <button (click)="onDelCar(index)" class="exit-button">X</button>
    <input
      class="mark"
      type="text"
      list="mark_options"
      placeholder="Выберите марку"
      [(ngModel)]="selectedMark[index]"
      (ngModelChange)="onMarkChange(index, selectedMark[index])"
    />
    <datalist id="mark_options">
      <option *ngFor="let value of marks" [value]="value"></option>
    </datalist>
  <input class="model"
      type="text"
      list="model_options"
      placeholder="Выберите модель"
      [(ngModel)]="selectedModel[index]"
    />
    <datalist id="model_options">
      <option value="Все"></option>
      <option *ngFor="let value of models[selectedMark[index]]" [value]="value"></option>
    </datalist>

  </div>
  <div class="add-car">
    <button class="add-car" style="border: none" (click)=onAddCar()>+</button>
  </div>
  </div>

  <h2>Предпочтения по году</h2>
  <div class="age">
    <div class="sliders">
<div class="slider-container">

      <h2>От</h2>
  <div class="slider-value">
    <input
      type="number"
      [(ngModel)]="selectedMinYear"
      (input)="onMinYearChange($event)"
      min="{{minYear}}"
      max="{{maxYear}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minYear}}"
    max="{{maxYear}}"
    [(ngModel)]="selectedMinYear"
    (input)="onMinYearChange($event)"
    class="slider" />

</div>
    <div class="slider-container">

      <h2>До</h2>
   <div class="slider-value">
    <input
      type="number"
      [(ngModel)]="selectedMaxYear"
      (input)="onMaxYearChange($event)"
      min="{{minYear}}"
      max="{{maxYear}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minYear}}"
    max="{{maxYear}}"
    [(ngModel)]="selectedMaxYear"
    (input)="onMaxYearChange($event)"
    class="slider" />
</div>
  </div>
 <div class="selected-sliders">
  <p>Выбранный год: </p>
  <p>{{ selectedMinYear }} - {{ selectedMaxYear }}</p>
   </div>
  </div>

      <h2>Предпочтения по цене</h2>
    <div class="sliders">
<div class="slider-container">
      <h2>От</h2>
  <div class="slider-value">
    <input
      type="number"
      [(ngModel)]="selectedMinPrice"
      (input)="onMinPriceChange($event)"
      min="{{minPrice}}"
      max="{{maxPrice}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minPrice}}"
    max="{{maxPrice}}"
    [(ngModel)]="selectedMinPrice"
    (input)="onMinPriceChange($event)"
    class="slider" />

</div>

    <div class="slider-container">
      <h2>До</h2>
   <div class="slider-value">

    <input
      type="number"
      [(ngModel)]="selectedMaxPrice"
      (input)="onMaxPriceChange($event)"
      min="{{minPrice}}"
      max="{{maxPrice}}"
      class="price-input" />
  </div>

  <input
    type="range"
    min="{{minPrice}}"
    max="{{maxPrice}}"
    [(ngModel)]="selectedMaxPrice"
    (input)="onMaxPriceChange($event)"
    class="slider" />
</div>
  </div>
 <div class="selected-sliders">
  <p>Выбранная цена: </p>
  <p>{{ selectedMinPrice }} - {{ selectedMaxPrice }}</p>
      <label for="currency">Валюта:</label>
  <select id="currency" [(ngModel)]="selectedCurrency" >
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="BYN">BYN</option>
    <option value="RUB">RUB</option>
  </select>
   </div>

   <h2>Предпочтения по типу кузова:</h2>

  <div *ngFor="let type of types" >
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [value]="type"
        (change)="onTypeChange($event)"
        [checked]="selectedTypes.includes(type)"
      />
      <span class="checkmark"></span>
      {{ type }}
    </label>
  </div>

   <h2>Предпочтения по типу топлива:</h2>

  <div *ngFor="let fuel of fuels" >
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [value]="fuel"
        (change)="onFuelChange($event)"
        [checked]="selectedFuels.includes(fuel)"
      />
      <span class="checkmark"></span>
      {{ fuel }}
    </label>
  </div>

     <h2>Предпочтения по КПП:</h2>

  <div *ngFor="let transmission of transmissions" >
    <label class="custom-checkbox">
      <input
        type="checkbox"
        [value]="transmission"
        (change)="onTransmissionChange($event)"
        [checked]="selectedTransmissions.includes(transmission)"
      />
      <span class="checkmark"></span>
      {{ transmission }}
    </label>
  </div>

  <div class="confirm">
    <button class="confirm-button" (click)="saveAll()">Сохранить</button>
  </div>
</section>
