<div class="page">
  <button *ngIf="check_ad()" class="delete-button" (click)="on_click_delete()"></button>
  <div class="like-buttons">
  <button *ngIf="!check_ad()" class="like-button" (click)="on_click_like()"
  [ngClass]="{ 'active': isLikeActive }"></button>
  <button *ngIf="!check_ad()" class="dislike-button" (click)="on_click_dislike()"
  [ngClass]="{ 'active': isDislikeActive }"></button>
    </div>
  <h1>{{ myAdData.title }}</h1>

  <div class="info">
  <div class="photos">
    <div class="main-photo">
      <img [src]="selectedImage" priority="priority" width="720"
       height="{{heightSelectedImage*3}}"  alt="main-photo" class="main-photo-instance" >
    </div>
    <h2>{{ myAdData.price }} {{ myAdData.currency }}</h2>
    <div class="small-photos">
      <div *ngFor="let imageUrl of images; let i=index" class="image-container">
      <img
       [src]="imageUrl"
       width="240"
       height="{{heightList[i]}}"
       alt="photo"

      (click)="changeMainImage(imageUrl, i)">
    </div>
      </div>
  </div>
  <div class="char">
  <h2>Характеристики</h2>
  <table>
        <tbody>
            <tr>
                <td class="column1">Тип кузова</td>
                <td class="column2">{{ body_type }}</td>
            </tr>

            <tr>
                <td class="column1">Марка</td>
                <td class="column2">{{ myAdData.brand }}</td>
            </tr>

            <tr>
                <td class="column1">Модель</td>
                <td class="column2">{{ myAdData.model }}</td>
            </tr>

            <tr>
                <td class="column1">Цвет</td>
                <td class="column2">{{ myAdData.color }}</td>
            </tr>

            <tr>
                <td class="column1">Год выпуска</td>
                <td class="column2">{{ myAdData.year }}</td>
            </tr>

            <tr>
                <td class="column1">Пробег</td>
                <td class="column2">{{ myAdData.mileage }}</td>
            </tr>

            <tr>
                <td class="column1">Мощность</td>
                <td class="column2">{{ myAdData.horse_power }}</td>
            </tr>

            <tr>
                <td class="column1">Объем двигателя</td>
                <td class="column2">{{ myAdData.engine_capacity }}</td>
            </tr>


            <tr>
                <td class="column1">КПП</td>
                <td class="column2">{{ transmission }}</td>
            </tr>

            <tr>
                <td class="column1">Привод</td>
                <td class="column2">{{ drive_type }}</td>
            </tr>

            <tr>
                <td class="column1">Тип топлива</td>
                <td class="column2">{{ fuel_type }}</td>
            </tr>

            <tr>
                <td class="column1">VIN номер</td>
                <td class="column2">{{ myAdData.vin_number }}</td>
            </tr>

            <tr>
                <td class="column1">Город</td>
                <td class="column2">{{ myAdData.location }}</td>
            </tr>
        </tbody>
  </table>
    <h2>Описание</h2>
  <p>{{ myAdData.description }}</p>
    </div>
    </div>
  <div class="seller">
    <h2 class="seller-header">Продавец</h2>
    <h4>{{ myAdData.seller_name }}</h4>
    <div class="buttons">
      <button class="phone" (click)=on_click_phone() ></button>
      <button class="email" (click)=on_click_email()></button>
      <h4 *ngIf=clicked>{{info}}</h4>
    </div>
    <h4>Дата подачи объявления: {{ myAdData.posted_at }}</h4>

  </div>
</div>

