<div class="page">
  <!--  <div class="search-container">
        <input [(ngModel)]="searchQuery" type="text" class="search-input" placeholder="Введите запрос...">
        <button class="button button-filter" (click)="openModal()"></button>
        <button class="button button-search" (click)="onSearch()"></button>
    </div>
    -->
  <app-filter-sidebar>

  </app-filter-sidebar>


  <div class="grid-container" >
    <div *ngFor="let ad of ads!.data.list" class="add">
      <h4>{{ ad.brand }} {{ ad.model }}</h4>
      <img [src]="imagePaths[ad.id]" alt="main-photo" width="360" height="240">
      <h5> Цена: {{ ad.price }} {{ ad.currency }}</h5>
      <h5> Год: {{ ad.year }}</h5>
      <button (click)="open_ad(ad.id)">Подробнее</button>
    </div>
  </div>

  <div class="pagination">
    <button  (click)="setPage(current_page - 1)" [disabled]="current_page === 1">« Пред</button>
      <span *ngFor="let page of [].constructor(pages_count); let i = index">
        <button  (click)="setPage(i + 1)" [class.active]="current_page === i + 1">{{ i + 1 }}</button>
      </span>
    <button  (click)="setPage(current_page + 1)" [disabled]="current_page === pages_count">След »</button>
  </div>

</div>
