<div class="page">
  <!--  <div class="search-container">
        <input [(ngModel)]="searchQuery" type="text" class="search-input" placeholder="Введите запрос...">
        <button class="button button-filter" (click)="openModal()"></button>
        <button class="button button-search" (click)="onSearch()"></button>
    </div>
    -->
<div class="filters">
  <div class="row">
    <div class="column">
        <input
      type="text"
      list="brand_options"
      placeholder="Выберите марку"
      [(ngModel)]="selectedBrand"
      (change)="onBrandChange()"
      (keydown)="onKeyDownBrand($event)"
      [value]="selectedBrand"
    />
    <datalist id="brand_options">
      <option *ngFor="let value of brands" [value]="value">{{value}}</option>
    </datalist>

    </div>
    <div class="column">
        <input
      type="text"
      list="model_options"
      placeholder="Выберите модель"
      [(ngModel)]="selectedModel"
      [value]="selectedModel"
      (keydown)="onKeyDownModel($event)"
    />
    <datalist id="model_options">
      <option *ngFor="let value of models" [value]="value">{{value}}</option>
    </datalist>
    </div>
    <div class="column">
      <select [(ngModel)]="selectedDriveType">
          <option value="null">Выберите привод</option>
          <option *ngFor="let value of drives" [value]="value">{{value}}</option>
      </select>
    </div>
  </div>

    <div class="row">
      <div class="column">
        <select [(ngModel)]="selectedBodyType">
          <option value="null">Выберите тип кузова</option>
          <option *ngFor="let value of bodyTypes" [value]="value">{{value}}</option>
      </select>
      </div>
      <div class="column">
        <select [(ngModel)]="selectedFuelType">
          <option value="null">Выберите тип топлива</option>
          <option *ngFor="let value of fuelTypes" [value]="value">{{value}}</option>
      </select>
      </div>
      <div class="column">
              <select [(ngModel)]="selectedTransmission">
        <option value="null">Выберите КПП</option>
          <option *ngFor="let value of transmissions" [value]="value">{{value}}</option>
      </select>
      </div>
    </div>
  <div class="row">
    <div class="column-from-to">
      <input class="from-select" placeholder="Пробег от" type="number" min="0" [(ngModel)]="mileageFrom">
      <input class="to-select" placeholder="Пробег до" type="number" min="0" [(ngModel)]="mileageTo">
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Объём от" type="number" min="0" max="15" step="0.1" [(ngModel)]="volumeFrom">
      <input class="to-select" placeholder="Объём до" type="number" min="0" max="15" step="0.1" [(ngModel)]="volumeTo">
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Мощность от" type="number" min="0" [(ngModel)]="powerFrom">
      <input class="to-select" placeholder="Мощность до" type="number" min="0" [(ngModel)]="powerTo">
    </div>
  </div>

  <div class="row">

        <div class="column-from-to">
      <input class="from-select" placeholder="Год от" type="number" min="{{minYear}}" max="{{maxYear}}" [(ngModel)]="yearFrom">
      <input class="to-select" placeholder="Год до" type="number" min="{{minYear}}" max="{{maxYear}}" [(ngModel)]="yearTo">
    </div>
    <div class="column-from-to">
      <input class="from-select" placeholder="Цена от" type="number" min="0" [(ngModel)]="priceFrom">
      <input class="to-select" placeholder="Цена до" type="number" min="0" [(ngModel)]="priceTo">
    </div>
    <div class="column">
              <select [(ngModel)]="selectedCurrency">
        <option value=null>Выберите валюту</option>
                <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="RUB">RUB</option>
            <option value="BYN">BYN</option>
      </select>
      </div>
  </div>
      <button type="submit" class="submit-btn" (click)="onSubmit()">Подтвердить</button>

</div>



  <div class="grid-container" >
    <div *ngFor="let ad of ads!.data.list" class="add">
      <a href="/advertisement/{{ad.id}}">{{ ad.title }}</a>
      <img [src]="imagePaths[ad.id]" alt="main-photo" width="240" height="240">
      <h3> Цена: {{ ad.price }} {{ ad.currency }}</h3>
      <h3> Год: {{ ad.year }}</h3>
    </div>
  </div>

  <div class="pagination">
    <button  (click)="setPage(current_page - 1)" [disabled]="current_page === 1">« Пред</button>
      <span *ngFor="let page of [].constructor(pages_count); let i = index">
        <button  (click)="setPage(i + 1)" [class.active]="current_page === i + 1">{{ i + 1 }}</button>
      </span>
    <button  (click)="setPage(current_page + 1)" [disabled]="current_page === pages_count">След »</button>
  </div>

</div>
