#content {
  display: none;
}

.page{
  position: relative;
  background: rgb(0,0,0,7);
  height: auto;
  min-height: 87.5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  color: white;
  box-sizing: border-box;
}

.grid-container {
  /*margin: 3vh 0;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки одинаковой ширины */
  grid-auto-rows: auto; /* Высота каждой строки (дивов) 100px */
  gap: 30px; /* Отступы между дивами (если нужно) */
  width: 100%; /* Ширина таблицы будет равна ширине родителя */
  /*padding-bottom: 100px;*/
}



.add {
    height: auto;
  width: auto;
  margin: 2vh 0;
  display: flex;
  align-items: center;
    flex-direction: column;
  border: 1px solid white;
  border-radius: 25px;/* Добавим границу для визуализации */
}

.add-image {
    width: 80%; /* Занимает всю доступную ширину */
    height: auto; /* Сохраняет пропорции изображения */
}

.image-container {
    display: flex; /* Включаем Flexbox для контейнера изображения */
    align-items: center; /* Центрируем изображение по вертикали */
    justify-content: center; /* Центрируем изображение по горизонтали */
    height: 100%; /* Занимает всю доступную высоту */
    width: 100%;
}

.link{
  margin: 2vh 0;
}

.info{
  margin-top: auto;
  margin-bottom: 2vh;
}

img{
  margin: 4vh 0;
}

a{
  color: white;
  font-size: x-large;
  text-decoration: none;
}

a:hover{
  filter: brightness(0.7);
}

h3{
  margin: 0;
}


.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-button.active {
  font-weight: bold;
  background-color: white;
  color: black;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Отступы между кнопками */
  margin: 20px 0;
}

.pagination button {
  background-color: white; /* Основной цвет кнопки */
  border: none;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px; /* Округление углов */
}

.pagination button:hover {
  filter: brightness(0.7) /* Цвет при наведении */
}

.pagination button[disabled] {
  background-color: #e0e0e0; /* Цвет для отключенных кнопок */
  cursor: not-allowed;
  color: #888; /* Цвет текста для отключенных кнопок */
}

.pagination .active {
  background-color: gray; /* Цвет для активной кнопки */
  font-weight: bold;
}

.pagination span button {
  background-color: #f8f9fa; /* Фоновый цвет для кнопок страниц */
  color: #333; /* Цвет текста для кнопок страниц */
}

.pagination span button:hover {
  background-color: #ddd; /* Цвет при наведении для кнопок страниц */
}
