<section class="page">
  <h1 class="acc-header">Личный кабинет</h1>
  <h2 class="table-header">Персональные данные</h2>
      <table>
        <tbody>
            <tr>
                <td class="column1">Имя</td>
                <td class="column2">Никита</td>
            </tr>
            <tr>
                <td class="column1">Фамилия</td>
                <td class="column2">Пашин</td>
            </tr>
            <tr>
                <td class="column1">Телефон</td>
                <td class="column2">657956543767890</td>
            </tr>
            <tr>
                <td class="column1">Email</td>
                <td class="column2">nnnn&#64;gmail.com</td>
            </tr>
            <tr>
                <td class="column1">Город</td>
                <td class="column2">Минск</td>
            </tr>
        </tbody>
    </table>
  <h2 class="ad-header">Мои объявления</h2>
  <div class="ads">
    <div class="ad">
    <div class="ad1"> </div>
                <h4 class="name">Машина</h4>
                <p class="descr">Описание </p>
                <div class="button-container">
                <a href="#" class="button">а</a>
                <a href="#" class="button">б</a>
                  </div>
    </div>
        <div class="ad">
    <div class="ad1"> </div>
                <h4 class="name">Машина</h4>
                <p class="descr">Описание </p>
                <div class="button-container">
                <a href="#" class="button">а</a>
                <a href="#" class="button">б</a>
                  </div>
    </div>
    <div class="ad">
    <div class="ad1"> </div>
                <h4 class="name">Машина</h4>
                <p class="descr">Описание </p>
                <div class="button-container">
                <a href="#" class="button">а</a>
                <a href="#" class="button">б</a>
                  </div>
    </div>
    <div class="ad">
    <div class="ad1"> </div>
                <h4 class="name">Машина</h4>
                <p class="descr">Описание </p>
                <div class="button-container">
                <a href="#" class="button">а</a>
                <a href="#" class="button">б</a>
                  </div>
    </div>
  </div>
</section>
