<section class="page">
  <button class="submit-btn" (click)="on_click()">Выйти</button>
  <h1 class="acc-header">Личный кабинет</h1>
  <h2 class="table-header">Персональные данные</h2>
      <table>
        <tbody>
            <tr>
                <td class="column1">Имя</td>
                <td class="column2">{{ userName }}</td>
            </tr>
            <tr>
                <td class="column1">Фамилия</td>
                <td class="column2">{{ userLastName }}</td>
            </tr>
            <tr>
                <td class="column1">Телефон</td>
                <td class="column2">{{ phoneNumber }}</td>
            </tr>
            <tr>
                <td class="column1">Email</td>
                <td class="column2">{{ email }}</td>
            </tr>
            <tr>
                <td class="column1">Город</td>
                <td class="column2">{{ address }}</td>
            </tr>
        </tbody>
    </table>
  <h2 class="ad-header">Мои объявления</h2>
  <div class="ads">
    <div class="ad">
    <div class="ad1"> </div>
                <h4 class="name">Машина</h4>
                <p class="descr">Описание </p>
    </div>
        <div class="ad">
    <div class="ad1"> </div>
                <h4 class="name">Машина</h4>
                <p class="descr">Описание </p>
    </div>
    <div class="ad">
    <div class="ad1"> </div>
                <h4 class="name">Машина</h4>
                <p class="descr">Описание </p>
    </div>
    <div class="ad">
    <div class="ad1"> </div>
                <h4 class="name">Машина</h4>
                <p class="descr">Описание </p>
    </div>
  </div>
</section>
