* {
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.page{
    background: rgb(0,0,0,7);
    height: auto;
    min-height: 87.5vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  justify-content: space-between;
}

.buttons{
    align-self: center;
    width: 45vw;
    height: 10vh;
    margin-top: auto; /* Это позволит кнопкам оставаться внизу */
    margin-bottom: 2vh; /* Отступ от низа */
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.ads-btn{
  background-color: white;
  color: black;
  font-size: larger;
  width: 15vw;
  height: 10vh;
  border: 3px solid black;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.ads-btn:hover{
  cursor: pointer;
  filter: brightness(0.7);
}

.select-page{
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
  font-size: xx-large;
}

.car-selector {
  margin-top:5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; /* Центрирует элементы по основной оси */
  align-items: center; /* Центрирует элементы по поперечной оси */
  height: 100%; /* Установите высоту, если необходимо, чтобы элементы были в центре */
}

.car-button {
  padding: 25px 35px;
  border: 2px solid gray;
  border-radius: 25px; /* Овальная форма */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-weight: bold; /* Увеличиваем читаемость */
  background-color: black; /* Начальный фон */
  color: white; /* Цвет текста */
  font-size: x-large;
}

.car-button.selected {
  background-color: white; /* Цвет фона при выборе */
  color: black; /* Цвет текста при выборе */
  border-color: gray; /* Цвет границы при выборе */
}

.car-button:hover {
  background-color: black; /* Цвет фона при наведении */
  color: gray; /* Цвет текста при наведении */
  filter: brightness(0.7);
}

.car-button.selected:hover {
  background-color: white; /* Цвет фона при выборе */
  color: gray; /* Цвет текста при выборе */
  border-color: black; /* Цвет границы при выборе */
  filter: brightness(0.7);
}

        .container {
            display: flex;
            overflow: hidden; /* Скрываем переполнение */
          width: 100%;
          margin-top: 3vh;
        }

        .left, .right {
            flex: 1; /* Делим на две равные части */
            padding: 20px; /* Отступы внутри */
            display: flex;
            flex-direction: column;
            /*justify-content: center;*/
            align-items: center; /* Центрируем содержимое */
        }


.delete-button, .add-button{
  margin-top: 3vh;
  border: 1px solid white;
  border-radius: 25px;
  width: 2.5vw;
  height: 5vh;
  background-size: 50%, auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  background-image: url("../../assets/trash.svg");
  }

.add-button{
  background-image: url("../../assets/plus-square-fill.svg");
}

.delete-button:hover, .add-button:hover{
  background-image: url("../../assets/trash.svg");
    background-size: 50%, auto;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: brightness(0.7);
}

.add-button:hover{
  background-image: url("../../assets/plus-square-fill.svg");
}

.error{
    width: 61%;
    height: 10vh;
    background-color: red;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    margin: 3vh auto;
}



