.form-section {
    background-image: url('../images/audi.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    width: 450px;
    height: 280px; /* Высота меньше, чем у регистрации */
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 white;
}

.form-container h2 {
    margin-top: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

.form-container p {
    padding-top: 10px;
    color: #fff;
    margin: auto;
    padding-bottom: 10px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.dws-input-code {
    position: relative;
    margin-top: 5px;
}

.dws-input-code input:hover {
    box-shadow: 0 0 6px 3px white;
}

.submit-btn {
    align-items: center;
    background-color: rgba(240, 240, 240, 1);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 80%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin: auto;
}

.submit-btn:active,
.submit-btn:hover {
    outline: 0;
}

.submit-btn:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
}

.custom-alert {
    position: absolute;
    top: calc(100% + 20px);
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
}

@keyframes fade-in-out {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}
